.hero {
  background-color: #000000;
  padding: 195px 452px 185px 452px;
  background-image: url('../images/Img\ \(bg\).jpg');
  background-repeat: no-repeat;
  background-position: center;
}
.hero-title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $color-primary-white;
}
.hero-button {
  display: block;

  margin: 0 auto;
  padding: 10px 32px;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 30px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: $color-primary-white
}